@page
@model ProfileModel
@using event_platform_classLibrary.EventHandlers.Classes
@{
    ViewData["Title"] = "Profile";
}


<style>
    body {
        background-color: #FFFFFF;
        color: #031147;
        font-family: Arial, sans-serif;
    }

    .event-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
    }

    .event-box {
        width: 300px;
        background-color: #FBE2B0;
        border: 1px solid #FBAE17;
        padding: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
    }

    .event-title {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #EC4067;
    }

    .event-description {
        margin-top: 10px;
        text-align: center;
        color: #031147;
    }

    .book-now-btn {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #EC4067;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 5px;
    }

        .book-now-btn:hover {
            background-color: #031147;
            color: #FBE2B0;
        }

    #btncolor {
        background-color: #EC4067;
        color: #FFFFFF;
        text-decoration: none;
        border-style: none;
    }

        #btncolor:hover {
            background-color: #FBE2B0;
            color: #031147;
        }

</style>



<h1 class="align-self-lg-center">Your Events!</h1>

<div class="event-container">
    @foreach (var eventItem in Model.Events)
    {
        if (eventItem is ConcertEvent)
        {
            <div class="event-box concert-event-box">
                <div class="event-title">@eventItem.Name</div>
                <div class="event-description">@eventItem.Description</div>
                <div class="event-details">@((eventItem as ConcertEvent).Artist) @((eventItem as ConcertEvent).Venue)</div>
                @if (Model.BookingCodes.ContainsKey(eventItem.Id))
                {
                    <div class="booking-code">Booking Code: @Model.BookingCodes[eventItem.Id]</div>
                }

                <a href="/UnBookEvent/@eventItem.Id" class="book-now-btn">Cancel Event</a>
            </div>
        }
        else
        {
            <div class="event-box">
                <div class="event-title">@eventItem.Name</div>
                <div class="event-description">@eventItem.Description</div>
                @if (Model.BookingCodes.ContainsKey(eventItem.Id))
                {
                    <div class="booking-code">Booking Code: @Model.BookingCodes[eventItem.Id]</div>
                }
                <a href="/UnBookEvent/@eventItem.Id" class="book-now-btn">Cancel Event</a>
            </div>
        }
    }
</div>




<div class="container mt-5">
    <h1 class="mb-4">Profile information</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="card-text text-dark">Your email: @Model.User.Email</p>
                    <p class="card-text">Your Description: <br /> @Model.User.Description</p>
                    <p class="card-text">Your Tags:</p>
                    <ul>
                        @if (Model.User.usersTags.Count == 0)
                        {
                            <li>You have no tags :(</li>
                        
                        }
                        else{
                        @foreach (var tagId in Model.User.usersTags)
                        {   
                            int key;
                            if (int.TryParse(tagId, out key))
                            {
                                <li>@Model.EventTags.GetValueOrDefault(key, string.Empty)</li>
                            }
                        }
                        }
                    </ul>


                </div>
            </div>
            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#editModal">
                Edit Personal Information
            </button>
        </div>
    </div>
</div>



<!-- Edit Personal Information Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Personal Information</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="EditDescription" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input class="form-control" id="username" name="username" placeholder="@Model.User.Username"></input>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input class="form-control" id="email" name="email" placeholder="@Model.User.Email"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description" placeholder="@Model.User.Description"></textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label for="selectedTags" class="form-label">Selected Tags:</label>
                        <p style="color:darkred">Hold down the Ctrl (Windows) or Command (Mac) button to select multiple options.</p>
                        <select class="form-select" id="selectedTags" name="selectedTags" asp-for="SelectedTags" multiple>
                            @foreach (var tag in Model.EventTags)
                            {
                                if (Model.SelectedTags.Contains(tag.Key))
                                {
                                    <option value="@tag.Key" selected>@tag.Value</option>
                                }
                                else
                                {
                                    <option value="@tag.Key">@tag.Value</option>
                                }
                            }
                        </select>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
